/kernel-deps
/limine
/ovmf
*.iso
*.hdd
*.img
*.o
limine.h
nanoprintf.h
.config*
/kernel/src/flanterm/
com1.txt
initrd.img
/initrd/boot/limine.conf
/initrd/boot/nnix-*
/.vscode
/.cache
/sysroot/bin
/sysroot/build
/libc/lib