mainmenu "Nekonix (Nnix.)/x86_64 0.0.0-unknown Kernel Configuration"

choice
    prompt "Build Type"
    default BUILD_RELEASE

config BUILD_DEBUG
    bool "Debug"
    help
        Build the kernel with debugging enabled, providing extra logging
        and assertions for development purposes.

config BUILD_RELEASE
    bool "Release"
    help
        Build the kernel with optimizations and minimal logging for production use.

endchoice

config GRAPHICAL_BOOT_LOGS
    bool "Graphical Boot Logs"
    default y
    help
        Enable this option to display boot logs with graphical output.

config MIRROR_BOOT_LOGS
    bool "Mirror Boot Logs"
    default n
    depends on GRAPHICAL_BOOT_LOGS
    help
        Enable this option to mirror boot logs to the framebuffer as well as serial.
