mainmenu "Nekonix (NNix)/x86_64 0.0.0-unkown Kernel Configuration "

choice
    prompt "Build Type"
    default BUILD_RELEASE

config BUILD_DEBUG
    bool "Debug"
    help
        Build the kernel with debugging enabled, providing extra logging
        and assertions for development purposes.

config BUILD_RELEASE
    bool "Release"
    help
        Build the kernel with optimizations and minimal logging for production use.

endchoice

config GRAPHICAL_BOOT_LOGS
    bool "Graphical Boot Logs"
    default n
    help
        Enable this option to display boot logs with graphical output.

